.rooms-dropdown {
  position: fixed !important;
  left: 0 !important;
  top: 55px !important;
  width: 100% !important;
  height: 100% !important;
  max-height: 500px;
  background-color: #faf3f8 !important;
}

.rooms-dropdown div {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.rooms-dropdown img {
  width: 100%;
  margin: auto;
  height: 100%;
  object-fit: contain;
  /* height: 400px; */
}


section.partner {
  background-color: white;
}

section.partner .alem-travel-logo {
  width: 150px;

}
section.partner h2 {
  color: #c19b76;
  font-size: 3rem;
}

section.partner .alem-travel-logo-wrap {
  display: flex;
  justify-content: center;

}

section.partner .alem-travel-logo:hover {
  opacity: 0.7;

}

.alem-travel-logo-wrap h4 {
  transform: translateX(-0.5rem);
  font-size: 1.3rem;
}

.alem-travel-logo-wrap h4:hover{
  color: black;
}